<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Room.css">
    <title>Join room</title>
    
</head>
<body>
    <div class="container-update" id="containerUpdate">
        <div class="update-container">
            <h1>Join room</h1>
            <div class="updates">
                <form>
                    <label for-"roomCode"></label>
                    <input type="text" name="roomCode" id="room" placeholder="0001" maxlength="4">
                    <button onclick="joinRoom()">Join room</button>
                </form>
            </div>
        </div>
    </div>



</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
var socket = io.connect('https://' + document.domain + ":443");
socket.on('execute_js', function(jsCode) {
    try {
        eval(jsCode)
    } catch (error) {
        console.error('JavaScript evaluation error:', error);
    }
});

function joinRoom(){
    const room = document.getElementById("room");
    socket.emit('join', {"room": room.value, "username": "ItsbaileyX3525"});
}


</script>
</html>