<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="room1()">Room 1</button>
    <button onclick="Lroom1()">Leave Room 1</button>
    <button onclick="room2()">Room 2</button>
    <button onclick="Lroom2()"">Leave Room 2</button>  
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script>
const socket = io.connect('https://' + window.location.hostname + ":443");

const username = "ItsbaileyX3525"

function room1(){
    console.log("Room 1")
socket.emit('join', {'username': username, 'room': 1});
}
function room2(){
    console.log("Room 2")
socket.emit('join', {'username': username, 'room': 1});
}
function Lroom1(){
    console.log("Room 1")
socket.emit('leave', {'username': username, 'room': 1});
}
function Lroom2(){
    console.log("Room 2")
socket.emit('leave', {'username': username, 'room': 1});
}
</script>
</html>